
@model Service

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}
<div style="overflow-x:scroll">

    <div style="margin-bottom:50px">
        <a href="/Admin/Service/Create" class="btn btn-outline-warning" style="width:1500px">Add new slider</a>
    </div>

    <table class="table table-bordered" style="width:1500px;">
        <thead class="bg-register-image">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Icon Link</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Header</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>

        <tbody>

                <tr>
                    <th scope="row">@Model.Id</th>
                    <th scope="row">@Model.Iconlink</th>
                    <td>@Html.Raw(Model.Title)</td>
                    <td>@Model.Description</td>
                    <td>@Model.Header</td>


                    <td>
                        <a href="/Admin/Service/Edit/@Model.Id" style="color:red"><i class="fas fa-edit"></i></a>
                        <a href="/Admin/Service/Delete/@Model.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                        <br />
                        <a href="/Admin/Service/Details/@Model.Id" style="color:red">Etrafli</a>
                    </td>
                </tr>

        </tbody>
    </table>
</div>
