
<div style="margin-top:80px;">
    @*<div class="col-4" justify-content-end>
            <form asp-controller="Categories" asp-action="Index">
                <span class="btn-group">
                    <input class="form-control" type="text" name="SeachText" />
                    <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search>" />
                </span>
            </form>
        </div>*@
    <table class="table table-bordered ">
        <thead class="bg-dark">
            <tr>
                <th>Delete</th>
                <th>Id</th>
                <th>name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>AdditionalInformation</th>
                <th>Sub total</th>
                <th style="width:300px;"></th>
            </tr>
        </thead>

        <tbody>
            @if (ViewBag.cart != null)
            {

                @foreach (var item in ViewBag.cart)
                {

                    <tr>

                        <td align="center">
                            <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Books.ID"><i class="fas fa-trash"></i></a>
                        </td>
                        <td>@item.Books.ID</td>
                        <td>@item.Books.Name</td>
                        <td><img src="~/images/categories/@item.Books.Image" width="60" /></td>
                        <td>@item.Books.PresentPrice</td>
                        <td>@item.Quantity</td>
                        <td>@item.Books.Description</td>
                        <td>@item.Books.AdditionalInformation</td>
                        <td>@(item.Books.PresentPrice * item.Quantity)</td>

                        <td>
                            <a asp-controller="Home" asp-action="index" style="color:red;margin-left:30px;"><i class="far fa-arrow-alt-circle-left"></i></a>
                            <a asp-controller="checkout" asp-action="index" asp-route-id="" style="margin-left:187px;"><i class="fas fa-check"></i></a>
                            <br />
                            <label>Back Shoppping</label>
                            <label style="margin-left:120px;">Checkout</label>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td align="right" colspan="8">Sum:</td>
                <td>
                    @ViewBag.total
                </td>
            </tr>

        </tbody>
    </table>
    <br />
    <a asp-controller="Home" asp-action="index">Continue Shopping</a>
    <a asp-controller="checkout" asp-action="index" asp-route-id="">Go to checkout</a>
</div>