@model HomeVM
<div class="container">
    <div class="row" style="margin-top:150px;">
        @foreach (var item in Model.Books)
        {

            <div class="col-lg-5 col-md-6 product-single-gallery">
                <div class="product-slider-container">
                    <div class="label-group">
                        @if (item.Percent != null)
                        {

                            <div class="product-label label-sale">
                                -@item.Percent
                            </div>
                        }
                    </div>

                    <div class="product-single-carousel owl-carousel owl-theme show-nav-hover">
                        @foreach (var image in item.bookGallery)
                        {
                            <div class="product-item">
                                <img class="product-single-image" src="~/images/gallery/@image.Name" data-zoom-image="~/images/gallery/@image.Name" width="468" height="468" alt="product" />
                            </div>
                        }
                    </div>
                    <!-- End .product-single-carousel -->
                    <span class="prod-full-screen">
                        <i class="icon-plus"></i>
                    </span>
                </div>

                <div class="prod-thumbnail owl-dots">
                    @foreach (var item3 in item.bookGallery)

                    {
                        <div class="owl-dot">
                            <img src="~/images/gallery/@item3.Name" width="110" height="110" alt="product-thumbnail" />
                        </div>
                    }

                </div>
            </div>
            <!-- End .product-single-gallery -->

            <div class="col-lg-7 col-md-6 product-single-details">
                <h1 class="product-title">@item.Name</h1>


                <div class="ratings-container">
                    <div class="product-ratings">
                        <span class="ratings" style="width:60%"></span>
                        <!-- End .ratings -->
                        <span class="tooltiptext tooltip-top"></span>
                    </div>
                    <!-- End .product-ratings -->

                    <a href="#" class="rating-link">( @Model.listRewiew.Count Reviews)</a>
                </div>
                <!-- End .ratings-container -->

                <hr class="short-divider">

                <div class="price-box">
                    <span class="old-price">$@item.PastPrice</span>
                    <span class="new-price">$@item.PresentPrice</span>
                </div>
                <!-- End .price-box -->

                <div class="product-desc">
                    <p>
                        @item.Description
                    </p>
                </div>
                <!-- End .product-desc -->

                <ul class="single-info-list">

                    <li>
                        SKU: <strong>@item.Sku</strong>
                    </li>

                    <li>
                        CATEGORY: <strong><a href="#" class="product-category">@item.productCategory.Name</a></strong>
                    </li>
                </ul>
                <div class="product-single-filter flex-column align-items-start">
                    <label>Color:</label>
                    <ul class="config-size-list config-color-list config-filter-list">
                        @foreach (var color in Model.booksToColors)
                        {

                            <li class="">
                                <a href="javascript:;" class="filter-color border-0"
                                   style="background-color: @color.Color.Name"></a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="product-single-filter flex-column align-items-start">
                    <label>Size:</label>
                    <div class="collapse show" id="widget-body-5">
                        <div class="widget-body pb-0">
                            <ul class="config-size-list">
                                @foreach (var size in Model.sizeToBooks)
                                {
                                    if (Model.sizeToBooks.Count==0)
                                    {
                                        <label>Bu mehsulun olcusu qalammisdir:</label>
                                    }
                                    <li><a href="#">@size.Size.Name</a></li>

                                }
                            </ul>
                        </div>
                        <!-- End .widget-body -->
                    </div>
                </div>

                <div class="product-action">
                    <div class="product-single-qty">
                        <input class="horizontal-quantity form-control" type="text">
                    </div>
                    <!-- End .product-single-qty -->

                    <a href="javascript:;" class="btn btn-dark add-cart mr-2" title="Add to Cart">
                        Add to
                        Cart
                    </a>

                    <a href="cart.html" class="btn btn-gray view-cart d-none">View cart</a>
                </div>
                <!-- End .product-action -->

                <hr class="divider mb-0 mt-0">

                <div class="product-single-share mb-3">
                    <label class="sr-only">Share:</label>

                    <div class="social-icons mr-2">
                        <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                        <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                        <a href="#" class="social-icon social-linkedin fab fa-linkedin-in" target="_blank" title="Linkedin"></a>
                        <a href="#" class="social-icon social-gplus fab fa-google-plus-g" target="_blank" title="Google +"></a>
                        <a href="#" class="social-icon social-mail icon-mail-alt" target="_blank" title="Mail"></a>
                    </div>
                    <!-- End .social-icons -->

                    <a href="wishlist.html" class="btn-icon-wish add-wishlist" title="Add to Wishlist">
                        <i class="icon-wishlist-2"></i><span>
                            Add to
                            Wishlist
                        </span>
                    </a>
                </div>
                <!-- End .product single-share -->
            </div>
        }
        <!-- End .product-single-details -->
    </div>


    <div class="product-single-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">Description</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="product-tab-size" data-toggle="tab" href="#product-size-content" role="tab" aria-controls="product-size-content" aria-selected="true">Size Guide</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">
                    Additional
                    Information
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">Reviews (@Model.listRewiew.Count)</a>
            </li>
        </ul>

        <div class="tab-content">
            @foreach (var desc in Model.Books)
            {

                <div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
                    <div class="product-desc-content">
                        @desc.Description
                    </div>
                    <!-- End .product-desc-content -->
                </div>
                <!-- End .tab-pane -->

                <div class="tab-pane fade
             " id="product-size-content" role="tabpanel" aria-labelledby="product-tab-size">
                    <div class="product-size-content">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/images/products/single/body-shape.png" alt="body shape" width="217" height="398">
                            </div>
                            <!-- End .col-md-4 -->

                            <div class="col-md-8">
                                @desc.SizeGuid
                            </div>
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .product-size-content -->
                </div>
                <!-- End .tab-pane -->

                <div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
                    @desc.AdditionalInformation
                </div>
                <!-- End .tab-pane -->

                <div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
                    <div class="product-reviews-content">
                        @foreach (var item in Model.Books)
                        {
                            @if (Model.listRewiew.Count != 0)
                            {
                                <h3 class="reviews-title">@Model.listRewiew.Count review for @item.Name</h3>

                            }

                        }

                        <div class="comment-list">
                            @foreach (var item in Model.listRewiew)
                            {
                                <div class="comments" style="margin-top:60px;">

                                    <figure class="img-thumbnail">
                                        <img src="~/images/blog/author.jpg" alt="author" width="80" height="80">
                                    </figure>

                                    <div class="comment-block">

                                        <div class="comment-header">

                                            <div class="comment-arrow"></div>

                                            <div class="ratings-container float-sm-right">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:60%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>

                                            <span class="comment-by">
                                                <strong>@item.Name</strong> – @item.Date
                                            </span>
                                        </div>

                                        <div class="comment-content">
                                            <p>@item.Message</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="divider"></div>

                        <div class="add-product-review">
                            <h3 class="review-title">Add a review</h3>

                            <form method="post" enctype="multipart/form-data">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <input name="name" type="text" class="form-control" asp-for="@Model.Reviews.Name" required placeholder="Name">
                                    </div>
                                    <div class="col-xl-6">
                                        <input name="email" type="email" class="form-control" asp-for="@Model.Reviews.Email" required placeholder="Email">
                                    </div>
                                    <div class="col">
                                        <textarea name="message" class="form-control" rows="5" asp-for="@Model.Reviews.Message" required placeholder="Tell us more about your needs........"></textarea>
                                    </div>
                                </div>
                                <p class="text-center mt-4 mb-0">
                                    <button id="submit-btn" class="btn btn-primary rounded-pill d-inline-flex" type="submit">Send Message</button>
                                </p>
                            </form>
                        </div>
                        <!-- End .add-product-review -->
                    </div>
                    <!-- End .product-reviews-content -->
                </div>
            }
            <!-- End .tab-pane -->
        </div>
        <!-- End .tab-content -->
    </div>
</div>