@model HomeVM
<link rel="stylesheet" href="~/css/bootstrap.min.css">

<!-- Main CSS File -->
<link rel="stylesheet" href="~/css/demo3.min.css">
<main class="main" style="margin-top:80px;">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="demo3.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Accessories</li>
            </ol>
        </div><!-- End .container -->
    </nav>

    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-9 main-content">
                <div class="category-banner pt-0 pb-2">
                    <img class="slide-bg" src="~/images/ShopCategory.jpg" alt="banner"
                         width="1500" height="320">
                </div><!-- End .category-slide -->

                <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                    <div class="toolbox-left">
                        <a href="#" class="sidebar-toggle">
                            <svg data-name="Layer 3" id="Layer_3" viewBox="0 0 32 32"
                                 xmlns="http://www.w3.org/2000/svg">
                                <line x1="15" x2="26" y1="9" y2="9" class="cls-1"></line>
                                <line x1="6" x2="9" y1="9" y2="9" class="cls-1"></line>
                                <line x1="23" x2="26" y1="16" y2="16" class="cls-1"></line>
                                <line x1="6" x2="17" y1="16" y2="16" class="cls-1"></line>
                                <line x1="17" x2="26" y1="23" y2="23" class="cls-1"></line>
                                <line x1="6" x2="11" y1="23" y2="23" class="cls-1"></line>
                                <path d="M14.5,8.92A2.6,2.6,0,0,1,12,11.5,2.6,2.6,0,0,1,9.5,8.92a2.5,2.5,0,0,1,5,0Z"
                                      class="cls-2"></path>
                                <path d="M22.5,15.92a2.5,2.5,0,1,1-5,0,2.5,2.5,0,0,1,5,0Z" class="cls-2"></path>
                                <path d="M21,16a1,1,0,1,1-2,0,1,1,0,0,1,2,0Z" class="cls-3"></path>
                                <path d="M16.5,22.92A2.6,2.6,0,0,1,14,25.5a2.6,2.6,0,0,1-2.5-2.58,2.5,2.5,0,0,1,5,0Z"
                                      class="cls-2"></path>
                            </svg>
                            <span>Filter</span>
                        </a>

                        
                    </div><!-- End .toolbox-left -->
                    
                </nav>

                <div class="row">
                    @foreach (var item in Model.Books)
                    {
                        <div class="col-6 col-sm-4 col-md-3 col-xl-5col">

                            <div class="product-default inner-quickview inner-icon">
                                <figure>
                                    <a href="/Categories/Details/@item.ID">
                                        <img src="~/images/categories/@item.Image" style="height:150px;" alt="productr" />
                                    </a>
                                    <div class="label-group">
                                        @*<div class="product-label label-hot">HOT</div>*@
                                        @if (item.Percent != null)
                                        {
                                            <div class="product-label label-sale">-20%</div>
                                        }
                                    </div>
                                    <div class="btn-icon-group">
                                        <a href="#" class="btn-icon btn-add-cart product-type-simple">
                                            <i class="icon-shopping-cart"></i>
                                        </a>
                                    </div>
                                    <a href="ajax/product-quick-view.html" class="btn-quickview"
                                       title="Quick View">
                                        Quick
                                        View
                                    </a>
                                </figure>
                                <div class="product-details">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a href="demo3-shop.html" class="product-category">@item.productCategory.Name</a>
                                        </div>
                                    </div>
                                    <h3 class="product-title">
                                        <a href="demo3-product.html">@item.Name</a>
                                    </h3>
                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span><!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div><!-- End .product-ratings -->
                                    </div><!-- End .product-container -->
                                    <div class="price-box">
                                        <span class="old-price">$@item.PastPrice</span>
                                        <span class="product-price">$@item.PresentPrice</span>
                                    </div><!-- End .price-box -->
                                </div><!-- End .product-details -->
                            </div>
                        </div>
                    }
                </div>

                <nav class="toolbox toolbox-pagination">


                    <ul class="pagination toolbox-item">
                        @*<partial name="_Productpartial" model="Model.Pagination" />*@
                    </ul>
                </nav>
             

            </div><!-- End .main-content -->

            <div class="sidebar-overlay"></div>
            <aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
                <div class="sidebar-wrapper">
                    <form asp-controller="Filter" asp-action="Index">
                        <div class="widget">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                                   aria-controls="widget-body-2">Categories</a>
                            </h3>

                            <div class="collapse show" id="widget-body-2">
                                <div class="widget-body">
                                    <ul class="cat-list">
                                        @foreach (var item in Model.BooksCategory)
                                        {
                                            <li>
                                                <a href="#widget-category-1" class="collapsed" data-toggle="collapse"
                                                   role="button" aria-expanded="false"
                                                   aria-controls="widget-category-1">
                                                    @item.productCategory.Name<span class="products-count"></span>
                                                    <span class="toggle"></span>
                                                </a>
                                                <div class="collapse" id="widget-category-1">
                                                    <ul class="cat-sublist">
                                                        <li>@item.Name<span class="products-count"></span></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-price">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true"
                                   aria-controls="widget-body-3">Price</a>
                            </h3>


                            <input type="range" name="range" step="5" min="10" max="1000" style="width:300px;" value="" onchange="rangePrimary.value=value">
                            <br />
                            <input type="text" id="rangePrimary" name="rangePrimary" />
                            <div class="collapse show" id="widget-body-3">
                                <div class="widget-body">

                                    <div class="price-slider-wrapper">
                                        <div id="price-slider"></div><!-- End #price-slider -->
                                    </div><!-- End .price-slider-wrapper -->

                                    <div class="filter-price-action d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="filter-price-text">
                                            <span id="filter-price-range"></span>
                                        </div><!-- End .filter-price-text -->

                                    </div><!-- End .filter-price-action -->

                                </div><!-- End .widget-body -->

                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-color">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-6" role="button" aria-expanded="true"
                                   aria-controls="widget-body-6">Color</a>
                            </h3>

                            <div class="collapse show" id="widget-body-6">
                                <div class="widget-body">
                                    <ul class="config-swatch-list flex-column">
                                        @foreach (var item in Model.colors)
                                        {
                                            <li class="">
                                                <a href="#" style="background-color: @item.Name;"></a>
                                                <span>@item.Name</span>
                                            </li>
                                        }
                                    </ul>
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-size">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true"
                                   aria-controls="widget-body-5">Size</a>
                            </h3>

                            <div class="collapse show" id="widget-body-5">
                                <div class="widget-body">

                                    <ul class="config-size-list">
                                        @foreach (var item in Model.sizes)
                                        {
                                            <li><a data-id="@item.Id" class="callinput">@item.Name</a></li>
                                        }

                                    </ul>
                                    <input type="hidden" name="size" id="sizer" />
                                    <script>

                                        let callinputs = document.querySelectorAll('.callinput');
                                        callinputs.forEach(e => {
                                            e.addEventListener("click", function (e) {
                                                e.preventDefault();
                                                let id = $(e.currentTarget).attr("data-id");
                                                $("#sizer").attr("value", id);
                                            });

                                        });


                                    </script>
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        <div class="widget widget-brand">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-body-7" role="button" aria-expanded="true"
                                   aria-controls="widget-body-7">Brand</a>
                            </h3>

                            <div class="collapse show" id="widget-body-7">
                                <div class="widget-body pb-0">
                                    <ul class="cat-list">
                                        <li><a href="#">Adidas</a></li>
                                    </ul>
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                            <button class="btn text-dark icon-magnifier" type="submit"> Submit</button>
                        </div><!-- End .widget -->
                    </form>
                </div><!-- End .sidebar-wrapper -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</main><!-- End .main -->