
@model IList<WhyChoose>

@if (TempData["Success"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["Success"]
    </div>
}
<div style="overflow-x:scroll">

    <div style="margin-bottom:50px">
        <a href="/Admin/WhyChoose/Create" class="btn btn-outline-warning" style="width:1500px">Add new slider</a>
    </div>

    <table class="table table-bordered" style="width:1500px;">
        <thead class="bg-register-image">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">IconLink</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
               
                <th>Edit/Delete</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <th scope="row">@Html.Raw(item.IconLink)</th>
                    <td>@Html.Raw(item.Title)</td>
                    <td>@Html.Raw(item.Description)</td>
                    <td>
                        <a href="/Admin/WhyChoose/Edit/@item.Id" style="color:red"><i class="fas fa-edit"></i></a>
                        <a href="/Admin/WhyChoose/Delete/@item.Id" onclick="return confirm('Silmek isdediyinizden eminsinizmi?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                        <br />
                        <a href="/Admin/WhyChoose/Details/@item.Id" style="color:red">Etrafli</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
